/* ---------- FONTS ---------- */


/* ---------- COLORS ---------- */


/* ---------- GENERAL ---------- */
* {
  margin: 0;
  padding: 0;
}

/* ---------- JISKEFET ---------- */
.jf-navbar {
    background-color: #1f201f;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
